<?xml version="1.0" ?>
<project name="helloworld" default="build" >
    <property name="FLEX_HOME" value="/home/waldemarpc/flex_sdk_3/" />
    <!-- este se tiene qe cambiar por el nombre de la carpeta donde se trabaja -->
    <property name="APP_ROOT" value="/home/waldemarpc/proyectos/flex/" />
    <taskdef
        resource="flexTasks.tasks"
        classpath="${FLEX_HOME}/ant/lib/flexTasks.jar" />
    
    <target name="build">
      <!-- aqui va el nombre del proyecto -->
        <mxmlc file="${APP_ROOT}/helloworld.mxml">

            <load-config filename="${FLEX_HOME}/frameworks/flex-config.xml"/>
            <source-path path-element="${FLEX_HOME}/frameworks"/>
        </mxmlc>
    </target>
</project>
