[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/jump"]
	path = vendor/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/mig/yasnippet.git
[submodule "vendor/color-theme-merbivore"]
	path = vendor/color-theme-merbivore
	url = git://github.com/mig/color-theme-merbivore.git
[submodule "vendor/color-theme-vibrant-ink"]
	path = vendor/color-theme-vibrant-ink
	url = git://github.com/mig/color-theme-vibrant-ink.git
[submodule "vendor/rspec"]
	path = vendor/rspec
	url = git://github.com/pezra/rspec-mode.git
[submodule "vendor/color-theme-tango-2"]
	path = vendor/color-theme-tango-2
	url = git://github.com/wfarr/color-theme-tango-2.git
[submodule "vendor/color-theme-wunki"]
	path = vendor/color-theme-wunki
	url = git://github.com/petar/wunki-color-theme.git
